.ready-text,
 #custom-form,
 .alert-danger,
 #copy-form {
     //display: none;
 }

#show-custom-form,
#show-randomly-form,
#reload-page-button,
#reload-page-button {
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

#show-custom-form,
#show-randomly-form,
#reload-page-button {
    @include monts_600;
    color: $c_light-blue;
    transition: color .3s ease;

    &:hover {
        color: $c_dark-blue;
        text-decoration: underline;
    }
}

#show-randomly-form {
    //display: none;
}

.wrapper-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.alert,
.form-block,
.button,
.shorten-button {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.alert-exit-active,
.alert-exit-done {
    height: 0;
    opacity: 0;
    font-size: 0;
    padding: 0;
    margin: 0;
    pointer-events: none;
}

.alert-enter-active,
.alert-enter-done {
    height: inherit;
    opacity: 1;
    font-size: inherit;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    pointer-events: inherit;
}

.form-block-exit-active,
.form-block-exit-done,
.button-exit-active,
.button-exit-done {
    height: 0;
    opacity: 0;
    font-size: 0;
    pointer-events: none;
}

.form-block-enter-active,
.form-block-enter-done,
.button-enter-active,
.button-enter-done {
    height: inherit;
    opacity: 1;
    font-size: inherit;
    pointer-events: inherit;
}

.shorten-button-exit-active,
.shorten-button-exit-done {
    display: none;
}

.shorten-button-enter-active,
.shorten-button-enter-done {
    display: block;
}